
body {
    margin: 0;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0em;
  font-family: Helvetica;
}

ul {
    list-style-type: none;
    margin: 0;      
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: inline; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.icon-bar {
    height: 100%;
    width: 90px;
    text-align: center;
    background-color: #555;
}

.icon-bar a {
    padding: 16px;
    display: block;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}

section {
  text-align: center;
  height: 115px;
  background-color: #eee;
}

.introduction h2 {
  font-size: 40px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.introduction p {
  font-size: 20px;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  color: #777
}









